# folders
input/
venv/
aug_images/
dataset/
haarcascades/
cropped-faces/
__pycache__/


# files
challenges-in-representation-learning-facial-expression-recognition-challenge.zip
Computer-Vision-Engineer-task.pdf
activate-venv.bat
aug*.png

